@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');
* { box-sizing: border-box; transition: all 0.2s ease-in-out; }
h1, h2, h3, h4, h5, h6 { margin: 0; font-size: 24px; font-weight: bold; }
input { border-radius: 2px; border: 1px solid #ccc; font-size: 14px; padding: 12px; outline: none; }
button { font-size: 14px; padding: 12px; border: 1px solid #ccc; border-radius: 2px; outline: none; cursor: pointer; }
body { margin: 0; font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 13px; background: #ddd; }

.wrapper { margin: 0; padding: 0; width: 100%; position: relative; display: flex; flex-wrap: wrap; }
.container { padding: 16px; }
.container--large { padding: 24px; }
/*
 * @header
 */
.header { width: 100%; height: 50px; padding: 0; flex: 1 1 100%; background-color: #75c400; }
.header__wrapper { width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; height: 100%; }
.header__tabs { display: flex; align-items: flex-end; left: 90px; }
.header__tab { position: relative; flex: 0 1 auto; color: #fff; padding: 12px 48px 12px 16px; background: rgba(255,255,255,0.2); cursor: pointer; border-top-left-radius: 4px; border-top-right-radius: 4px; margin-right: 5px; }
.header__tab:last-child { margin: 0; }
.header__tab:hover { background: rgba(255,255,255,0.3); }
.header__tab--close { position: absolute; right: 0; top: 50%; transform: translateY(-50%); font-size: 18px; height: 100%; width: 32px; text-align: center; line-height: 40px; color: rgba(0,0,0,0.4); }
.header__tab--close:hover { color: rgba(0,0,0,0.8); }

.header__right { flex: 0 1 auto; background: yellow; }

@media(min-width: 1220px) {
	.header__wrapper { max-width: 1200px; margin: 0 auto; }
}
/*
 * @main
 */
.main { display: flex; flex-wrap: nowrap; flex-direction: row; width: 100%; height: calc(100vh - 50px); background: #ddd; }

@media(min-width: 1220px) {
	.main { max-width: 1200px; margin: 0 auto; }
}
/*
 * @navbars
 */
.navbar { display: flex; flex-direction: column; flex: 1 1 90px; background: #ddd; height: 100%; min-width: 90px; }

/*
 * @todos
 */
.todos { flex: 1 1 auto; display: flex; flex-wrap: nowrap; }

.todos__nav { flex: 1 1 30%; background: #f5f5f5; height: 100%; border-right: 1px solid #ccc; }
.nav { margin: 0; padding: 0; display: flex; flex-wrap: wrap; flex-direction: row; width: 100%; }
.nav__item { display: flex; flex: 1 1 100%; text-decoration: none; color: #2a2a2a; padding: 12px; font-size: 14px; cursor: pointer; border-radius: 2px; }
.nav__item:hover { background: #e5e5e5; }
.nav__item.active { background: #ccc; font-weight: bold; }
.nav__item.inactive { color: #aaa; }
.nav__item.inactive:hover { background: inherit; cursor: default; }

.todos__content { flex: 1 1 70%; background: #fff; height: 100%; position: relative; overflow-y: auto; }
.todos__heading { padding: 8px; }
.todos__quantity-description { font-size: 12px; color: #aaa; padding: 0 8px; display: block; }

.todos__table-wrapper { overflow-y: auto; }
.todos__table { border-spacing: 0; width: 100%; }
.todos__table tr { cursor: pointer; }

.todos__table tr.important,
.todos__table tr.important:hover { background: rgba(224, 0, 0, 0.4); }

.todos__table tr:nth-child(odd) { background: #f5f5f5; }
.todos__table tr:nth-child(even) {  }
.todos__table tr:hover { background: #e5e5e5; }
/* important */
.todos__table tr.important,
.todos__table tr.important:hover { background: rgba(224, 0, 0, 0.4); }

.todos__table td,
.todos__table th { padding: 12px 16px; text-align: left; }
.todos__table th { font-weight: bold; border-bottom: 1px solid #888; background: #fff; }
.todos__table td { border-bottom: 1px solid #ccc; }
.todos__table .col--title { width: 100%; }
.todos__table .col--completed,
.todos__table .col--important { text-align: center; }

/* custom checkboxes */
.custom-checkbox { display: none; }
.custom-label { margin: 0; display: inline-block; background-color: #444; padding: 12px; cursor: pointer; position: relative; vertical-align: bottom; }

.custom-label--completed { border-radius: 50%; }
.custom-label--important { border-radius: 50%; }

.custom-checkbox:checked + .custom-label::after { content: ''; position: absolute; top: 0; left: 0; z-index: 1; width: 24px; height: 24px; }
.custom-checkbox--completed:checked + .custom-label--completed::after { background: url(img/completed_32.png) 50% 50%/16px auto no-repeat rgba(0,0,0,0); }
.custom-checkbox--important:checked + .custom-label--important::after { content: '\2757'; color: #75c400; font-size: 16px; }

/*
 * @newTodo modal
 */
.modal { display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.5); }
.modal__content { padding: 24px 32px; position: absolute; top: 60px; left: 50%; transform: translateX(-50%); background: #fff; border-radius: 2px; box-shadow: 0 0 5px 1px #555; }
.modal__heading { font-size: 18px; padding: 0; }
.modal__form { padding: 16px 0; }
.modal__form button { background: rgba(117,196,0,1); color: #fff; border-color: rgba(117,196,0,1) }
.modal__form button:hover { background: rgba(117,196,0,0.85); border-color: rgba(117,196,0,0.85); }
