<div class="header__wrapper">
	<div class="header__tabs">
		<div class="header__tab">Tab 1<span class="header__tab--close">&times;</span></div>
		<div class="header__tab">Piterro<span class="header__tab--close">&times;</span></div>
		<div class="header__tab">lorem ipsum dolor sit amet <span class="header__tab--close">&times;</span></div>
		<div class="header__tab js--modal-new-todo" data-target="js--new-todo">Add</div>
	</div>
	<div class="header__right"></div>
</div>
