<div class="todos">
	<div class="todos__nav container">
		<nav class="nav">
			{{#each views}}
				<a class="nav__item{{#if active}} active{{/if}}{{#if disabled}} inactive{{else}} js--filter{{/if}}" data-filter="{{filter}}">{{name}}</a>
			{{/each}}
		</nav>
	</div>
	<div class="todos__content container">
		<h2 class="todos__heading">{{activeView.name}}</h2>
		<span class="todos__quantity-description js--todo-quantity">{{todosCount}} todos</span>
		
		<div class="todos__table-wrapper">
			<table class="todos__table">
				<thead class="todos__table-head">
					<tr>
						<th>ID</th>
						<th class="col--title">Title</th>
						<th>Completed</th>
						<th>Important</th>
					</tr>
				</thead>
				<tbody class="js--todo-list"></tbody>
			</table>
		</div>			
	</div>
</div>
