<div class="modal">
	<div class="modal__content">
		<h2 class="modal__heading">Dodaj zadanie</h2>
		<form class="modal__form js--submit-form">
			<input type="text" name="title" autofocus id="title" />
			<button type="submit" class="js--add-new-todo">Dodaj zadanie</button>
		</form>	
	</div>
</div>