{{#if todos}}
	{{#each todos}}
		<tr {{#if important}}class="important"{{/if}} data-id="{{id}}">
			<td>#{{id}}</td>
			<td class="col--title">{{title}}</td>
			<td class="col--completed">
				<input type="checkbox" name="completed" id="completed_{{@index}}" class="custom-checkbox custom-checkbox--completed js--toggle-state" {{#if completed}}checked{{/if}}>
				<label for="completed_{{@index}}" class="custom-label custom-label--completed"></label>
			</td>
			<td class="col--important">
				<input type="checkbox" name="important" id="important_{{@index}}" class="custom-checkbox custom-checkbox--important js--toggle-state" {{#if important}}checked{{/if}}>
				<label for="important_{{@index}}" class="custom-label custom-label--important"></label>
			</td>
		</tr>
	{{/each}}
{{/if}}